APP_NAME="Ziara Travels"
APP_ENV=local
APP_KEY=base64:wn0gtWG8eFfVwz/WfghnVnrojK1UU47uwRNCvn00NcE=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
aMAIL_HOST=smtp.mailtrap.io
aMAIL_PORT=2525
aMAIL_USERNAME=8e5867092170d3
aMAIL_PASSWORD=ebc0a0286c3df4
MAIL_ENCRYPTION=ssl

MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=ziarabooking@gmail.com
MAIL_PASSWORD=P@sSw0rd!!

MAIL_TO_ADDRESS=josenabz@gmail.com

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
